body{
	background-color: black;
	position: relative;
}
body *{
	box-sizing: border-box;
}

#header h2{
	color: white;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
}
h2{
	width: 250px;
	margin: 0 auto;
	padding-top: 50px;
}

#header{
	width: 100%;
	height: 5%;
}

.line{
	width: 100%;
	border-bottom: 1px solid #333;
	}

#searchbox{
	width: 300px;
	position: absolute;
	margin-left: 50%;
	top: 250px;
	left: -150px;
}

#search{
	padding: 5px;
	height: 30px;
	width: 270px;
	vertical-align: middle;
	border: 0;
}
.position-center{
	top: 50%;
}

label{
	color: white;
}



#submit{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	border: 0;
	cursor: pointer;
	position: absolute;  
	right: 0;  
	top: 0; 
	background-repeat: no-repeat;  	
	background-color:#fff; 
	background-image: url(magnify_glass.png);
	outline: none;
}

.item img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.item:hover img{
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

.item:hover {
	z-index: 1;
}